{%extends "base.html"%}

{%block title%}About{%endblock title%}


{%block content%}
<div class="login-form">
    <h1 class="text-center">About</h1>
    <h3 class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum perspiciatis repudiandae, quas provident obcaecati ea, modi similique, nostrum maiores iure asperiores quia reiciendis sunt blanditiis eos minus hic totam ratione.</h3>
    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum perspiciatis repudiandae, quas provident obcaecati ea, modi similique, nostrum maiores iure asperiores quia reiciendis sunt blanditiis eos minus hic totam ratione.</p>
    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum perspiciatis repudiandae, quas provident obcaecati ea, modi similique, nostrum maiores iure asperiores quia reiciendis sunt blanditiis eos minus hic totam ratione.</p>
</div>

{%endblock content%}